{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'Admin_Home' %}"><b>{{ Admin.T_Full_Name }}</b></a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'Admin_Home' %}">Students</a></li>
                <li><a href="{% url 'Admin_Tec' %}" class="active">Teachers</a></li>
                <li><a href="{% url 'Admin_Crs' %}">Courses</a></li>
                <li><a href="{% url 'CR_Home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>

<div class="container">
    <div class="block">
        <nav class="navbar">
            <ul class="nav navbar-nav center_display">
                <li><a href="{% url 'Admin_Tec' %}">All Teachers</a></li>
                <li><a href="{% url 'Admin_Tec_Req' %}">Pending Requests</a></li>
                <li><a href="{% url 'Admin_Tec_Edit' %}" class="active">Edit Teachers</a></li>
            </ul>
        </nav>

        <div class="block-home">
            <h4>Edit Teacher Details</h4>
            <br>
            <br>

            <form action="" method="post">
                {% csrf_token %}

                <div class="checkAll left_display">
                    <input type="checkbox" name="checkAll" onclick="selectUnselectAll()">
                    <label for="all">Select All&nbsp;</label><label id="nselected"> </label>
                </div>

                {% for x in T_Details %}
                {% if x.T_is_active is True %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6 left_display">
                        <div>
                            <input type="checkbox" value="{{ x.T_Email }}" name="Emails" onclick="ncount()">
                            <label>
                                <b>Name: </b> {{ x.T_Full_Name }}
                            </label><br><br>
                            <label>
                                <b>Designation</b>
                            </label><br>
                            <input type="text" name="Designation{{ x.T_Email }}" placeholder="{{x.T_Designation}}" id="designation" value="{{x.T_Designation}}" required><br>
                        </div>
                             
                    </div>

                    <div class="col-sm-5 left_display">
                        <div>
                            <label>
                                Supervising Series
                            </label><br>
                            <input type="number" name="T_Ser{{ x.T_Email }}"  id="t_ser" value="{{x.T_Sup_Series}}" required><br><br>
                            
                            <label>
                                Supervising Section
                            </label><br>
                            <input type="text" name="Sec{{ x.T_Email }}" id="sec" value="{{x.T_Sup_Section}}" required>
                        </div>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}

                <hr>
                
                <div style="display: none;">
                    <input type="checkbox" value="{{ Admin.T_Email }}" name="admin_id" checked > 
                </div>
                <br>

                <button type="submit" class="r_btn" name="delete">Delete</button>
                <button type="submit" class="btn" name="save">Save</button>
            </form>

        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'JS/admin_tec_edit.js' %}"></script>


{% else %}
<div class="container">
    <div class="block">
        <div class="Denger-block">
            {% load static %}
            <img src="{% static 'PIC/denger.jpg' %}">
            <h2>You are not Authorized </h2>
            <h4>Please Contact with the Department if You Have Already Created an Account</h4>
            <br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}