{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="block">
                <div class="block-home">
                    <h4>Admin Login</h4>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nav navbar-nav center_display">
                                <li><a href="{% url 'CR_Home' %}">User</a></li>
                            </ul> 
                        </div>
                        <div class="col-sm-6">
                            <ul class="nav navbar-nav center_display">
                                <li><a href="{% url 'Admin_Log' %}" class="active">Admin</a></li>
                            </ul> 
                        </div>
                    </div>
                    <br>

                    <div class="block-log">
                        <form action="" method="post">
                            {% csrf_token %}

                            <label for="Email">Email</label><br>
                            <input type="email" name="Email" placeholder="Email" required><br><br>

                            <label for="Password">Password</label><br>
                            <input type="password" name="Password" placeholder="Password" required><br><br><br>

                            <button type="submit" class="btn">Sign In</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
    </div>
</div>

{% endblock %}