{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="block">
                <div class="block-home">
                    <h4>Forgot Password </h4>
                    <br>    
                    <div class="block-log">
                        <form action="" method="post">
                            {% csrf_token %}
                        
                            <label for="Email">Email</label><br>
                            <input type="email" name="Email" placeholder="Email" required><br><br>
                            <input type="radio" name="ST" value="Student" required>
                            <label for="Student">
                                <p>Student</p>
                            </label>
                            <input type="radio" name="ST" value="Teacher" required>
                            <label for="Teacher">
                                <p>Teacher</p>
                            </label><br>
                            <p>A link will be sent to your email to reset password.</p>

                    </div>

                    <button type="submit" class="btn">Send Link</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
    </div>
</div>

{% endblock %}