{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'Stu_Home' %}"><b>{{ S_Details.S_Full_Name }}</b></a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'Stu_Course' %}" class="active">Register Course</a></li>
                <li><a href="{% url 'Stu_Edit' %}">Edit Profile</a></li>
                <li><a href="{% url 'CR_Home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>

<div class="container">
    <div class="block">
        <div class="block-home">
            <h4>Search Course</h4>
            <br>

            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-2 center_display">
                        <div>
                            <label for="department">Department</label><br>
                            <select id="department" name="Department" onchange="GetSelectedValue();" required>
                                <option value="None">---</option>
                                {% for x in Dept %}
                                <option value="{{ x.D_Name }}">{{ x.D_Name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-2 center_display">
                        <div>
                            <label for="Year">Year</label><br>
                            <select id="Year" name="Year" onchange="GetSelectedValue();" required>
                                <option value="0">---</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2 center_display">
                        <div>
                            <label for="Semester">Semester</label><br>
                            <select id="Semester" name="Semester" onchange="GetSelectedValue();" required>
                                <option value="NA">---</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2 center_display">
                        <div>
                            <label for="RS">R/S</label><br>
                            <select id="RS" name="RS" required>
                                <option value="None">---</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <br>
                            <button type="submit" class="btn">Search</button>
                        </div>
                    </div>

                </div>
            </form>
            <br>

            {% if courses %}
            <div class="inner_block">
                <div class="row">
                    <div class="col-sm-3 left_display">
                        <p><b>Course Code</b></p>
                    </div>
                    <div class="col-sm-6 left_display">
                        <p><b>Course Title</b></p>
                    </div>
                    <div class="col-sm-3 left_display">
                        <p><b>Course Credit</b></p>
                    </div>
                </div>

                <div class="nrow">
                    {% for x in courses %}
                    <div class="row">
                        <div class="col-sm-3 left_display">
                            <div>
                                <input type="checkbox" value="{{ x.C_Code }}" name="C_Codes" onclick="ncount()">
                                <label>
                                    <p><b>{{ x.C_Code }}</b></p>
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-6 left_display">
                            <div>
                                <p>{{ x.C_Title }}</p>
                            </div>
                        </div>
                        <div class="col-sm-3 left_display">
                            <div>
                                <p>{{ x.C_Credit }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            {% endif %}
        </div>
    </div>

    {% load static %}
    <script src="{% static 'JS/stu_c_reg.js' %}"></script>
</div>

{% else %}
<div class="container">
    <div class="block">
        <div class="Denger-block">
            {% load static %}
            <img src="{% static 'PIC/denger.jpg' %}">
            <h2>You are not Authorized </h2>
            <br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}