{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'Stu_Home' %}"><b>{{ S_Details.S_Full_Name }}</b></a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'Stu_Course' %}" class="active">Register Course</a></li>
                <li><a href="{% url 'Stu_Edit' %}">Edit Profile</a></li>
                <li><a href="{% url 'CR_Home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>

<div class="container">
    <div class="block">

        <ul class="nav navbar-nav">
            <li><a href="{% url 'Stu_Course' %}" class="active">Available</a></li>
            <li><a href="{% url 'Stu_Course_Com' %}">Registered</a></li>
        </ul>

        <div class="block-home">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="stu_id" value="{{ S_Details.S_Roll }}" id="stu">
                <input type="hidden" name="stu_em" value="{{ S_User.email }}" id="suser">

                <br>
                <button type="submit" name="search" class="btn">Search Courses</button>
                <hr>

                {% if courses and S_Details.S_is_Reg is not True %}
                <div class="inner_block">
                    <div class="row">
                        <div class="col-sm-3 left_display">
                            <p><b>Course Code</b></p>
                        </div>
                        <div class="col-sm-6 left_display">
                            <p><b>Course Title</b></p>
                        </div>
                        <div class="col-sm-3 left_display">
                            <p><b>Course Credit</b></p>
                        </div>
                    </div>

                    <div class="nrow">
                        {% for x in courses %}
                        {% if x.C_Year.year == S_Details.S_Year.year and x.C_Semester.semester == S_Details.S_Semester.semester %}
                        <div class="row">
                            <div class="col-sm-3 left_display">
                                <div>
                                    {% if S_Details.S_RS_Sem.rs == "Regular" and x.C_Optional is not True %}
                                    <input type="checkbox" value="{{ x.C_Code }}" name="C_Codes" onclick="ncount()"
                                        checked style="display: none;">
                                    {% else %}
                                    <input type="checkbox" value="{{ x.C_Code }}" name="C_Codes" onclick="ncount()">
                                    {% endif %}

                                    <label>
                                        <p><b>{{ x.C_Code }}</b></p>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-6 left_display">
                                <div>
                                    <p>{{ x.C_Title }}</p>
                                </div>
                            </div>
                            <div class="col-sm-3 left_display">
                                <div>
                                    <p>{{ x.C_Credit }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-sm-3 col-md-5"></div>
                        <div class="col-sm-7 col-md-4 left_display">
                            <label for="pdf"><b>Upload your Bank Receipt</b></label><br>
                            <input type="file" name="pdf" required>
                            <hr>  
                        </div>      
                        <div class="col-sm-2 col-md-3"></div>
                    </div>
                    <button type="submit" name="request" class="btn">Apply</button>

                </div>
                {% endif %}
            </form>

        </div>
    </div>

    {% load static %}
    <script src="{% static 'JS/stu_c_reg.js' %}"></script>
</div>

{% else %}
<div class="container">
    <div class="block">
        <div class="Denger-block">
            {% load static %}
            <img src="{% static 'PIC/denger.jpg' %}">
            <h2>You are not Authorized </h2>
            <br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}