{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'T_Home' %}"><b>{{ T_Details.T_Full_Name }}</b></a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'T_Home' %}">Students</a></li>
                <li><a href="{% url 'T_Assign_C' %}" class="active">Assign Semester</a></li>
                <li><a href="{% url 'T_Edit' %}">Edit Profile</a></li>
                <li><a href="{% url 'CR_Home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>

<div class="container">
    <div class="block">

        <nav class="navbar">
            <ul class="nav navbar-nav center_display">
                <li><a href="{% url 'T_Assign_C' %}">Assign</a></li>
                <li><a href="{% url 'T_Assign_C_Req' %}" class="active">Requestes</a></li>
                <li><a href="{% url 'T_Assign_C_Com' %}">Completed</a></li>
            </ul>
        </nav>

        <div class="block-home">
            <h4>Course Registration Requests</h4>
            <br>
            <br>


            <form action="" method="post">
                {% csrf_token %}

                <div class="checkAll left_display">
                    <input type="checkbox" name="checkAll" onclick="selectUnselectAll()">
                    <label for="all">Select All&nbsp;</label><label id="nselected"> </label>
                </div>

                {% for x in S_Details %}
                {% if x.S_is_Reg is True and x.S_T_AC is False %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4 left_display">
                        <div>
                            <input type="checkbox" value="{{ x.S_Roll }}" name="Rolls" onclick="ncount()">
                            <label>
                                <b>Roll No: </b>{{ x.S_Roll }}
                            </label><br>
                            <label>
                                <b>&nbsp;&nbsp;&nbsp;Series: </b>{{ x.S_Series }}
                            </label><br>
                            
                            {% for z in SCBR_Details %}
                            {% if z.SCBR_Roll == x.S_Roll and z.SCBR_Year.year == x.S_Year.year and z.SCBR_Sem.semester == x.S_Semester.semester %}
                            
                                 
                                <b>&nbsp;&nbsp;&nbsp;Bank Receipt: </b><a href="{{ z.SCBR_Slip.url }}" target="_blank">{{ z.SCBR_Slip }}</a>

                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-7 left_display">
                        {% for y in SC_Details %}
                        {% if y.SC_Roll == x.S_Roll and y.SC_T_AC is False %}
                        <div class="row">

                            <div class="col-sm-6">
                                {% if y.SC_RS_Sem.rs == "Regular" %}
                                <input type="hidden" value="{{ y.SC_Code }}" name="Codes{{ x.S_Roll }}">
                                {% else %}
                                <input type="checkbox" value="{{ y.SC_Code }}" name="Codes{{ x.S_Roll }}">
                                {% endif %}
                                <label><b>Course: </b>{{ y.SC_Code }}</label>
                            </div>

                            <div class="col-sm-6">
                                <p><b>Semester: </b>{{ y.SC_RS_Sem.rs }}</p>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}

                <input type="hidden" value="{{ T_Details.T_Email }}" name="t_id">
                <hr>
                <div class="row">
                    <div class="col-sm-3"></div>
                    
                    <div class="col-sm-3">
                        <button type="submit" class="r_btn" name="reject">Reject</button>
                    </div>

                    <div class="col-sm-3">
                        <button type="submit" class="btn" name="accept">Accept</button>
                    </div>

                    <div class="col-sm-3"></div>
                </div>
            </form>

        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'JS/T_Assign_C.js' %}"></script>

{% else %}
<div class="container">
    <div class="block">
        <div class="Denger-block">
            {% load static %}
            <img src="{% static 'PIC/denger.jpg' %}">
            <h2>You are not Authorized </h2>
            <br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}