{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'T_Home' %}"><b>{{ T_Details.T_Full_Name }}</b></a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'T_Home' %}">Students</a></li>
                <li><a href="{% url 'T_Assign_C' %}" class="active">Assign Semester</a></li>
                <li><a href="{% url 'T_Edit' %}">Edit Profile</a></li>
                <li><a href="{% url 'CR_Home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>

<div class="container">
    <div class="block">
        <div class="block-home">
            <h4>Assign Courses to Students</h4>
            <br>
            <br>

            
            <form action="" method="post">
                {% csrf_token %}
                
                <div class="checkAll left_display">
                    <input type="checkbox" name="checkAll" onclick="selectUnselectAll()">
                    <label for="all">Select All&nbsp;</label><label id="nselected"> </label>
                </div>

                {% for x in S_Details %}      
                <div class="row">
                    <div class="col-sm-5 left_display">
                        <div>
                            <input type="checkbox" value="{{ x.S_Roll }}" name="Rolls" onclick="ncount()">
                            <label><p><b>Roll No: </b>{{ x.S_Roll }}</p></label>
                        </div>
                    </div>

                    <div class="col-sm-7 left_display">
                        <div>
                            <p><b>Full Name: </b>{{ x.S_Full_Name }}</p>
                        </div>
                    </div>                    
                </div>                
                {% endfor %}
                                
                <br>
                <br>

                <div class="row">
                    <div class="col-sm-6 col-md-3 ">
                        <div>
                            <label for="sYear">Set Year</label><br>
                            <select id="syear" name="sYear" required>
                                <option value="0" selected>---</option>
                                {% for x in Y_Details %}
                                    {% if x.year != 0 %}
                                    <option value="{{ x.year }}">{{ x.year }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 ">
                        <div>
                            <label for="sSemester">Set Semester</label><br>
                            <select id="ssemester" name="sSemester" required>
                                <option value="NA" selected>---</option>
                                {% for x in Sem_Details %}
                                    {% if x.semester != "NA" %}
                                    <option value="{{ x.semester }}">{{ x.semester }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 ">
                        <div>
                            <label for="S_Date">Start Date</label><br>
                            <input type="date" name="S_Date" required>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 ">
                        <div>
                            <label for="E_Date">End Date</label><br>
                            <input type="date" name="E_Date" required>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn">Set All</button>
            </form>

        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'JS/T_Assign_C.js' %}"></script>

{% else %}
<div class="container">
    <div class="block">
        <div class="Denger-block">
            {% load static %}
            <img src="{% static 'PIC/denger.jpg' %}">
            <h2>You are not Authorized </h2>
            <br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}