{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'T_Home' %}"><b>{{ T_Details.T_Full_Name }}</b></a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'T_Home' %}">Students</a></li>
                <li><a href="{% url 'T_Assign_C' %}" class="active">Assign Semester</a></li>
                <li><a href="{% url 'T_Edit' %}">Edit Profile</a></li>
                <li><a href="{% url 'CR_Home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>

<div class="container">
    <div class="block">

        <nav class="navbar">
            <ul class="nav navbar-nav center_display">
                <li><a href="{% url 'T_Assign_C' %}">Assign</a></li>
                <li><a href="{% url 'T_Assign_C_Req' %}" class="active">Requestes</a></li>
                <li><a href="#">Completed</a></li>
            </ul>
        </nav>

        <div class="block-home">
            <h4>Course Registration Requests</h4>
            <br>
            <br>


            <form action="" method="post">
                {% csrf_token %}

                <div class="checkAll left_display">
                    <input type="checkbox" name="checkAll" onclick="selectUnselectAll()">
                    <label for="all">Select All&nbsp;</label><label id="nselected"> </label>
                </div>

                {% for x in SC_Details %}
                {% if x.SC_T_AC is False %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4 left_display">
                        <div>
                            <input type="checkbox" value="{{ x.SC_Roll }}" name="Rolls" onclick="ncount()">                            
                            <label>
                                <b>Roll No: </b>{{ x.SC_Roll }}                            
                            </label><br>
                            <label>
                                <b>Series: </b>{{ x.SC_Series }}
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-7 left_display">
                        <div>
                            <input type="hidden" value="{{ x.SC_Code }}" name="Codes" >
                            <p><b>Course Code: </b>{{ x.SC_Code }}</p>
                            <p><b>RS Semester: </b>{{ x.SC_RS_Sem.rs }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <br>
                <br>

                
                <hr>
                <button type="submit" class="btn">Set All</button>
            </form>

        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'JS/T_Assign_C.js' %}"></script>

{% else %}
<div class="container">
    <div class="block">
        <div class="Denger-block">
            {% load static %}
            <img src="{% static 'PIC/denger.jpg' %}">
            <h2>You are not Authorized </h2>
            <br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}