{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'T_Home' %}"><b>{{ T_Details.T_Full_Name }}</b></a></li>
                </ul>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'T_Assign_C' %}">Assign Semester</a></li>
                <li><a href="{% url 'T_Edit' %}" class="active">Edit Profile</a></li>
                <li><a href="{% url 'CR_Home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>

<div class="container">
    <div class="block">
        <div class="block-home">
            <h4>Edit Profile</h4>
            <br>


            <form action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6 left_display">
                        <div>
                            <label for="Name">Full Name</label><br>
                            <input type="text" name="Name" value="{{ T_Details.T_Full_Name }}" required><br><br>
                        </div>
                    </div>
                    <div class="col-sm-5 left_display">
                        <div>
                            <label style="color: red;"><b>Email</b></label><br>
                            <select id="email" name="Email" required>
                                <option value="{{ T_Details.T_Email }}" selected>{{ T_Details.T_Email }}</option>
                            </select><br><br>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-1"></div>

                    <div class="col-sm-6 left_display">
                        <div>
                            <label for="Department">Designation</label><br>
                            <input type="text" name="Designation" value="{{ T_Details.T_Designation }}"
                                required><br><br>
                        </div>
                    </div>

                    <div class="col-sm-5 left_display">
                        <div>
                            <label for="Department">Department</label><br>
                            <input type="text" name="Dept" value="{{ T_Details.T_Department.D_Name }}" required><br><br>
                        </div>
                    </div>
                    <div class="col-sm-5 left_display">

                    </div>
                </div>

                <button type="submit" class="btn">Save</button>

            </form>

        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="block">
        <div class="Denger-block">
            {% load static %}
            <img src="{% static 'PIC/denger.jpg' %}">
            <h2>You are not Authorized </h2>
            <br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}